:root {
    --primario : #759eff;
    --secundario : #ffa43a;
    --primarioClaro : #75c7ff;
    --secundarioClaro : #ffbf75;
    --gris : #525558;
    --negro : #000000;
    --blanco : #ffffff;

    --fuentePrincipal : 'Lato', sans-serif;
    --fuenteSecundaria: 'Roboto', sans-serif;

    --separacion : 5rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: var(--negro);
}
img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.active {
    color: var(--primario);
}

/* Utilidades */

.text-center {
    text-align:center;
}

.grisClaro {
    color: var(--gris);
    font-size: 1.4rem;
}

#about,
#education,
#experience,
#hobbies,
#references{
    transition: 300ms;
}

/* Header */

.header {
    border-bottom: 1px solid var(--gris);
}

.header-contenido {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) { 
    .header-contenido {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.header--heading {
    font-size: 4rem;
    text-align: center;
}

span {
    color: var(--primario);
}

@media (min-width: 768px) { 
    .header--heading {
        font-size : 5rem;
        text-align: left;
    }
}

.navegacion-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) { 
    .navegacion-contenido {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
    }
    
}

/* Hero */

.hero {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 35rem;
}

@media (min-width: 768px) { 
    .hero {
        height: 70rem;
    }
}

/* Sobre mi */

@media (min-width: 768px) { 
    .acerca--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--separacion);
        align-items: center;
    }
}

.acerca--texto {
    line-height: 2;
}

/* Educacion */

.educacion {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 2rem 0;
}

/* Experiencia */

.experiencia {
    border-bottom: 4px solid var(--primario);
}
.experiencia:last-of-type {
    border-bottom: none;
}

@media (min-width: 768px) { 

    .experiencias-grid {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    
    .experiencia {
        padding: 2rem;
        transition-duration: 300ms;
    }
    
    .experiencia:nth-child(1),
    .experiencia:nth-child(2),
    .experiencia:nth-child(3),
    .experiencia:nth-child(4) {
        grid-column: 1 / 3;
    }


    .experiencia:nth-child(1):hover {
        border-right: 4px solid var(--primario);
        font-size: 2rem;
    }
    .experiencia:nth-child(2):hover {
        border-left: 4px solid var(--primario);
        font-size: 2rem;
    }
    .experiencia:nth-child(3):hover {
        border-right: 4px solid var(--primario);
        font-size: 2rem;
    }
    .experiencia:nth-child(4):hover {
        border-left: 4px solid var(--primario);
        font-size: 2rem;
    }
    
}

/* Hobbies */

.hobbies {
    background-color: var(--primario);
    color: var(--blanco);
}

.hobbies-contenido {
    padding: 2rem 0;
    font-size: 1.8rem;
    text-align: center;
}

.hobbies-contenido p {
    margin: 0;
}

/* Referencias */

.referencias-contenido {
    text-align: center;
}

@media (min-width: 768px) { 
    .referencias {
        padding: 2rem 0;
    }
    
    .referencias-contenido {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }
    
    .referencia {
        padding: 2rem;
        border-right: 2px solid var(--primario);
    }
    
    .referencia:last-of-type {
        border-right: none;
    }
    
    .referencia h3 i {
        margin-right: 1rem;
    }
    
}



/* footer */

.footer {
    background-color: var(--primario);
    padding: 2rem;
}

.copyright {
    color: var(--blanco);
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.copyright span {
    color: var(--blanco);
    text-transform: capitalize;
    font-weight: 700;
}

.powered {
    color: var(--blanco);
    text-align: center;
    margin: 0;
}

.powered span {
    color: var(--blanco);
    font-weight: 700;
}